section,footer{
  padding: 40px 0;
}
.section-title{
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  font-weight: 800;
}

.section-title::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  padding: 0 10px;
}
.section-title::after{
  content: "";
  border-bottom: 3px solid #232390;
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -99;
}